.container {
	display: flex;
	justify-content: center;
}

.container li {
	list-style: none;
	margin-right: 10px;

	&:last-child {
		margin-right: 0;
	}
}

.link {
	display: block;
	width: 40px;
	height: 40px;
	padding: 5px;

	&:visited {
		color: var(--font-color);
	}
}
