.container {
	border: 1px solid red;

	--bullet-radius: 10px;
	--left-padding: 20px;

	position: relative;
	padding: 0 var(--left-padding) 20px;

	&::after {
		content: "";
		position: absolute;
		top: 5px;
		left: calc(var(--left-padding) / 2);
		transform: translateX(-50%);
		width: var(--bullet-radius);
		height: var(--bullet-radius);
		border: 2px solid var(--font-color);
		border-radius: 50%;
		background-color: var(--background-color);
	}

	&::before {
		content: "";
		position: absolute;
		top: var(--bullet-radius);
		left: calc(var(--left-padding) / 2);
		transform: translateX(-50%);
		width: 2px;
		height: calc(100% - var(--bullet-radius));
		background-color: var(--font-color);
		mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
	}
}

.title,
.date,
.subtitle {
	display: block;
}

.date {
	font-weight: bold;
}

.title {
	font-weight: bold;
	text-transform: uppercase;
	/* color: var(--primary-color); */
}

.description {
	font-style: italic;
}
