.container {
}

.title {
	padding: 0 140px 0 0;
	display: inline;
	text-align: center;
	color: rgba(255, 255, 255, 0.1);
	background: -webkit-gradient(
		linear,
		left top,
		right top,
		from(#222),
		to(#222),
		color-stop(0.5, #fff)
	);
	background: -moz-gradient(
		linear,
		left top,
		right top,
		from(#222),
		to(#222),
		color-stop(0.5, #fff)
	);
	background: gradient(
		linear,
		left top,
		right top,
		from(#222),
		to(#222),
		color-stop(0.5, #fff)
	);
	background-size: 125px 100%;
	background-clip: text;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-color: var(--font-color);
	animation-name: shimmer;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

@keyframes shimmer {
	0% {
		background-position: top left;
	}

	100% {
		background-position: top right;
	}
}

.subTitle {
	position: relative;
	height: 100px;
}

.subTitle span {
	position: relative;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%);
	display: block;
	font-weight: 700;
	text-align: center;
	font-size: 40px;
	text-transform: uppercase;
	background: linear-gradient(
		90deg,
		var(--font-color),
		var(--background-color),
		var(--font-color)
	);
	letter-spacing: 5px;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	background-repeat: no-repeat;
	background-size: 80%;
	opacity: 0;
	/* animation: shine 5s linear infinite, opacity 10s ease-in-out 0s infinite; */

	&:nth-child(1) {
		animation: shine 5s linear infinite, opacity1 15s ease-in-out infinite;
	}

	&:nth-child(2) {
		animation: shine 5s linear infinite, opacity2 15s ease-in-out infinite;
	}

	&:nth-child(3) {
		animation: shine 5s linear infinite, opacity3 15s ease-in-out infinite;
	}
}

@keyframes shine {
	0% {
		background-position-x: -500%;
	}
	100% {
		background-position-x: 500%;
	}
}

@keyframes opacity1 {
	0% {
		opacity: 0;
	}
	1% {
		opacity: 1;
	}
	33% {
		opacity: 1;
	}
	34% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes opacity2 {
	0% {
		opacity: 0;
	}
	33% {
		opacity: 0;
	}
	34% {
		opacity: 1;
	}
	66% {
		opacity: 1;
	}
	67% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes opacity3 {
	0% {
		opacity: 0;
	}
	66% {
		opacity: 0;
	}
	67% {
		opacity: 1;
	}
	99% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
