.container {
	position: fixed;
	left: 0;
	top: 0;
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	padding: 0 40px;
	background: var(--font-color);
	z-index: 100;
	transition: transform 0.3s;
	transform: translateX(-100%);
}

.container_opened {
	transform: translateX(0);

	&::before {
		content: none;
	}
}

.link {
	color: var(--background-color);
	border: 1px solid var(--background-color);
	text-decoration: none;

	display: flex;
	align-items: center;
	height: 56px;
	width: 100%;
	padding: 10px 18px;
	margin-bottom: 15px;
	letter-spacing: var(--button-letter-spacing);
	border-radius: 50px;
	overflow: hidden;

	&:hover {
		background-color: var(--background-color);
		color: var(--font-color);

		&:visited {
			color: var(--font-color);
		}
	}

	&:active {
		background-color: var(--background-color);
		color: var(--font-color);

		&:visited {
			color: var(--font-color);
		}
	}

	&:visited {
		color: var(--background-color);
	}

	&::before {
		content: "â¤";
	}
}

.link > span {
	pointer-events: none;
}
